/* Desktop uređaji (do 1024px) */

@media screen and (max-width: 1419px) {
    #footer {width: 85% !important;}
    #logo {width: 200px; margin-left: 5%;}
    .fs-14 {font-size: 12px !important;}

    i.fa-user {font-size: 16px !important;}
    i.fa-shopping-bag {font-size: 28px !important;}

    #btn-login {margin-right: 10px;}
    #header-nav-menu {margin-left: 0;}
}

@media screen and (max-width: 1419px) and (min-width: 1024px) {
    #header-nav-menu a {font-size: 17px !important;}
    #header-nav-menu {justify-content: center !important}
}

/* Tablet uređaji (od 768px do 1024px) */

@media screen and (max-width: 1024px) {
    #btn-open-nav-menu {display: block !important;}
    #header-nav-menu {display: none !important;}
}

/* Mobilni uređaji (od 768px do 320px) */

@media screen and (max-width: 768px) {

    .fs-35 {font-size: 33px !important;}
    .fs-30 {font-size: 23px !important;}
    #logo {width: 160px !important;}
    .fs-14 {font-size: 10px !important;}

    i.fa-user {font-size: 12px !important;}
    .btn:not(#btn-have-question, #order-form button) {padding-top: 6px !important;}
    #btn-login {padding: 1px 8px 4px !important;}
    .circle {
        width: 14px;
        height: 14px;
    }
    i.fa-shopping-bag {font-size: 20px !important;}
    #cart-status {
        font-size: 6px !important;
    }
    #cart {top: 1px;}
}

@media screen and (max-width: 500px) {
    #logo {width: 140px !important;}
}

/* #footer {display: none !important;} */
