/*
    URL: https://razmena.co.rs/popkakery1/

    Odrađene su sledeće stranice:
    (1) Početna tj. index stranica,
    (2) Contact Us - https://razmena.co.rs/popkakery1/contact-us.html (otvara se klikom na link "Contact Us" u navigacionom meniju u zaglavlju stranice tj. header-u),
    (3) About Us - https://razmena.co.rs/popkakery1/about-us.html (otvara se klikom na link "About Us" u navigacionom meniju u podnožju stranice tj. footer-u),
    (4) Product - https://razmena.co.rs/popkakery1/product.html (otvara se klikom na dugme "Add to Cart" koji se nalazi u okviru sekcije "Supersweet Gifts" na početnoj tj. index stranici),
    (5) Devilery Refund Terms Privacy - https://razmena.co.rs/popkakery1/devilery-refund-terms-privacy.html (otvara se klikom na link "Refund Policy" u navigacionom meniju u podnožju stranice tj. footer-u),
    (6) Category - https://razmena.co.rs/popkakery1/category.html (otvara se klikom na link "Products" u navigacionom meniju u zaglavlju stranice tj. header-u).

    Neophodno je doraditi sledeće:
    (1) podebljati ključne delove teksta na stranicama,
    (1) podesiti line-height svojstvo zbog bolje čitljivosti teksta,
    (1) centrirati loše centrirane ikonice,
    (1) obezbediti statičnost svih elemenata button prilikom pokušaja prevlačenja (Drag and Drop),
    (1) na stranici index.html obezbediti funkcionalnost slajdera,
    (1) na stranici category.html obezbediti funkcionalnost otkrivanja i sakrivanja filtera,
    (1) na stranici category.html stilizovati strelicu padajuće liste, kao i ikonicu polja Search.
*/

@font-face {
    font-family: "Gobold Lowplus";
    src: url("../font/Gobold-Lowplus.otf");
}

@font-face {
    font-family: "Gobold Bold";
    src: url("../font/Gobold-Bold.otf");
}

:root {
    --orange: rgb(243, 173, 56); 
    --light-orange: rgb(249, 233, 203);
    --black: rgb(1, 1, 1);
    --white: rgb(255, 255, 255);
    --gray: rgb(132, 132, 132);
    --light-gray: rgb(247, 247, 247);
    --border-gray: rgb(217, 217, 217);
    --dark-gray: rgb(51, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    word-break: break-word;
    font-family: "Gobold Lowplus";
    font-size: 19px !important;
    color: var(--black) !important;
}

/* Tags */

img {width: 100%;}
a, button {text-transform: uppercase;}
a {text-decoration: none;}
ul {list-style-type: none;}

h1 {font-size: 75px !important;}
h3, span.step-number {font-size: 38px !important;}

input, select, textarea, button {outline: none;}

/* Bootstrap Classes */

.rounded {border-radius: 4px !important;}

.btn:not(#btn-have-question, #order-form button) {
    padding-top: 9px !important;
}

.btn:not(button.btn-previous, button.btn-next):hover {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}
.text-justify {text-align: justify !important;}


.py-6 {padding: 80px 0;}

.z-2 {z-index: 2;}

/* User-defined Classes */

.w-90 {width: 90%;}
.w-60 {width: 60%;}
.w-20 {width: 20%;}

.icon-rotate {transform: rotate(-180deg);}

.cursor-pointer {cursor: pointer;}

.circle {
    width: 19px;
    height: 19px;
}

.bg-title-img {
    background: url("../img/bg-title.jpg") no-repeat center;
    background-size: cover;
}

.bg-section-img {
    background: url("../img/bg-light.jpg") no-repeat center;
    background-size: 100% 100% !important;
    padding: 130px 0 90px;
}

/* Text & Color Classes */

.fs-45 {font-size: 45px !important;}
.fs-35 {font-size: 35px !important;}
.fs-30 {font-size: 30px !important;}
.fs-25 {font-size: 25px !important;}
.fs-20 {font-size: 20px !important;}
.fs-17 {font-size: 17px !important;}
.fs-16 {font-size: 15px !important;}
.fs-15 {font-size: 15px !important;}
.fs-14 {font-size: 14px !important;}
.fs-12 {font-size: 12px !important;}

.text-orange {color: var(--orange) !important;}
.text-gray {color: var(--gray) !important;}
.text-dark {color: var(--dark-gray) !important;}
.text-light-gray {color: rgb(203, 203, 203) !important;}

.bg-orange {background-color: var(--orange);}
.bg-light-orange {background-color: var(--light-orange);}
.bg-light-gray {background-color: var(--light-gray);}

.border-orange {border-color: var(--orange) !important;}
.border-light-gray {border-color: var(--border-gray) !important;}

/* Header */

#logo {width: 220px;}

#btn-login, 
#instagram span, 
#phone-number > span {
    margin-right: 20px;
}

#header-nav-menu {margin-left: 9vw;}

#cart-status {
    right: -5px;
    top: 1px;
    font-size: 10px !important;
}

i.fa-user {margin-right: 3px;}
i.fa-shopping-bag {font-size: 32px !important;}

/* Responsive Navigation Menu */

#responsive-nav-menu {right: 0;}

body > nav.position-absolute li:not(li:last-child) {
    margin-bottom: 10px;
}

#btn-close-nav-menu {
    right: 30px;
    top: 30px;
}

#responsive-nav-menu {overflow-y: scroll;}

/* Footer */

#subscribe-form {
    height: 37px;
    margin-right: 35px;
}

#btn-subscribe {left: -10px;}

#subscribe-form > #email {
    border: 2px solid var(--orange);
    padding-right: 15px;
}

nav.social-media li {
    height: 45px;
    width: 45px;
}

nav.social-media li:not(li:last-of-type) {margin-right: 7px;}

#footer .nav-link {padding: 0 !important;}

#phone-number > p {font-size: 40px !important;}

#phone-number > span {
    width: 60px;
    height: 60px;
}

#footer nav:not(nav.social-media) li:not(li:last-child) {
    border-right: 2px solid;
    margin-right: 9px;
    padding-right: 9px;
}

#footer > div:last-of-type nav.nav-pages li {
    border-color: var(--gray) !important;
}

/* [index.html] */

/* Section  01: Home */

#home > main {padding: 20vh 7vw;}
#home > main p {width: 90%;}

#btn-learn-more {margin-right: 40px;}

button.btn > span,
article.card span.circle {
    top: -1.5px !important;
}

button.btn > span, 
#btn-send > span, 
#plastic-free {
    margin-left: 10px;
}

/* Section 02: Benefits */

article.benefit {width: 170px;}

article.benefit:not(article:last-child) {margin-right: 6vw;}
article.benefit > i {margin-right: 15px;}

/* Section 03: How it works */

article.step {
    width: 49%;
    padding-top: 7%;
    padding-bottom: 7%;
}

article.step:first-child {margin-bottom: 2%;}

#steps {margin-left: 5vw;}

/* Section 04: Choose your favorite flavor */

a.border-bottom, 
span.border:not(span.layout),
article.card, 
nav.social-media li,
.product-image, 
textarea, #cards, 
#footer div.border-top {
    border-width: 2px !important;
}

/* Section 05: Supersweet Gifts  */

#shop-options > span {
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#supersweet-gifts #shop-options > span:first-child {left: 4px;}
#supersweet-gifts #shop-options > span:nth-child(2) {left: 2px;}
#supersweet-gifts #btn-add-to-cart {left: -2px;}

#btn-add-to-cart > span {margin-left: 7px !important;}

div.slider-nav > *, 
#instagram i.fa-instagram {
    font-size: 80px !important;
}

div.slider-nav > button {
    padding: 0 !important;
    border: none !important
}

button.btn-previous {
    right: 25px;
    top: 16.5px;
} 

/* Section 06: Our Story */

#img-position {
    left: 30% !important;
    top: -6vw !important;
}

#our-story > div.position-relative {
    right: 5vw;
    top: 40px;
}

/* Section 07: FAQs */

#faqs article.card {padding: 22px 25px 15px 40px;}

article.card span.circle {left: -26px;}

/* [product.html] */

.product-image:last-child {margin-left: 2%;}

.icon {
    height: 30px;
    width: 30px;
}

#btn-have-question, 
#order-form button {
    padding-top: 8px;
}

#btn-have-question > span {left: 15%;}

#delivry-options h6 {font-size: 13px !important;}

table * {border: 2px solid var(--border-gray);}
table td, th {padding: 7px 20px 5px;}

tbody td {
    color: var(--gray) !important;
    font-size: 13.5px !important;
}

#product-details {padding-left: 4vw;}

#product-details span:not(label span, button > span, #shop-options > span) {
    font-size: 22px !important;
}

#order-form button > span {margin-left: 5px !important;}

.icon:not(:last-child) {margin-right: 3px;}

#btn-view-more, .icon i, 
#order-form button.btn,
#note > span:last-child {
    font-size: 12px !important;
}

#order-form > textarea {height: 110px;}

#order-form textarea::placeholder {
    text-align: right;
    font-size: 13px !important;
}

#plastic-free {margin-bottom: 2px;}

#order-form #btn-add-to-cart {
    margin-left: 25px !important;
}

#note {
    top: 30px;
    right: 39.5%;
}

#note span:first-child {margin-right: 10px;}

#note span:last-child  {
    box-shadow: 2px 2px 5px var(--gray);
    padding: 12px 25px 9px 10px;
}

/* [about-us.html] */

#img-absolute-position {
    right: -25%;
    bottom: 0;
}

/* [contact-us.html] */

#contact-form > *:not(button) {
    border: 2px solid var(--border-gray) !important;
    padding: 9px 10px 5.5px;
}

#contact-form textarea {height: 260px;}

#google-map {
    height: 400px;
    filter: grayscale(1);
}

/* [category.hrml] */

#sort-by-price {
    width: 250px;
    height: 49.75px;
}

#arrow-up {
    width: 50px;
    height: 50px;
}

#arrow-up > i {top: -3px}

select, 
input[type = "range"],
input[type = "range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}

input[type = "range"]::-webkit-slider-runnable-track {
    height: 8px !important;
}

input[type = "range"]::-webkit-slider-runnable-track,
input[type = "range"]::-webkit-slider-thumb {
    cursor: pointer;
    background-color: var(--orange);
}

input[type = "range"]::-webkit-slider-thumb {
    height: 21px;
    width: 21px;
    border-radius: 6px;
    margin-top: -6px;
}
